# Task 1: Read the dataset and do data pre-processing

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler

# Read the dataset
data = pd.read_csv("drug200[1].csv")

In [ ]:
data.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [ ]:
X = data.drop('Drug', axis=1)
y = data['Drug']

# Perform label encoding on categorical variables
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

# Perform one-hot encoding on categorical features
X = pd.get_dummies(X)
print(" One-hot Encoding on X\n",X)

# Scale the numeric features
scaler = StandardScaler()
X = scaler.fit_transform(X)
print("Scaling the numeric values\n")
print(pd.DataFrame(X,columns=['Age' ,'Na_to_K', ' Sex_F',  'Sex_M'  ,'BP_HIGH',  'BP_LOW'  ,'BP_NORMAL' , 'Cholesterol_HIGH ','Cholesterol_NORMAL']))
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

 One-hot Encoding on X
      Age  Na_to_K  Sex_F  Sex_M  BP_HIGH  BP_LOW  BP_NORMAL  Cholesterol_HIGH  \
0     23   25.355      1      0        1       0          0                 1
1     47   13.093      0      1        0       1          0                 1
2     47   10.114      0      1        0       1          0                 1
3     28    7.798      1      0        0       0          1                 1
4     61   18.043      1      0        0       1          0                 1
..   ...      ...    ...    ...      ...     ...        ...               ...
195   56   11.567      1      0        0       1          0                 1
196   16   12.006      0      1        0       1          0                 1
197   52    9.894      0      1        0       0          1                 1
198   23   14.020      0      1        0       0          1                 0
199   40   11.349      1      0        0       1          0                 0

     Cholesterol_NORMAL
0                     0
1                     0
2                     0
3                     0
4                     0
..                  ...
195                   0
196                   0
197                   0
198                   1
199                   1

[200 rows x 9 columns]
Scaling the numeric values

          Age   Na_to_K     Sex_F     Sex_M   BP_HIGH    BP_LOW  BP_NORMAL  \
0   -1.291591  1.286522  1.040833 -1.040833  1.263884 -0.685994  -0.646869
1    0.162699 -0.415145 -0.960769  0.960769 -0.791212  1.457738  -0.646869
2    0.162699 -0.828558 -0.960769  0.960769 -0.791212  1.457738  -0.646869
3   -0.988614 -1.149963  1.040833 -1.040833 -0.791212 -0.685994   1.545908
4    1.011034  0.271794  1.040833 -1.040833 -0.791212  1.457738  -0.646869
..        ...       ...       ...       ...       ...       ...        ...
195  0.708057 -0.626917  1.040833 -1.040833 -0.791212  1.457738  -0.646869
196 -1.715759 -0.565995 -0.960769  0.960769 -0.791212  1.457738  -0.646869
197  0.465676 -0.859089 -0.960769  0.960769 -0.791212 -0.685994   1.545908
198 -1.291591 -0.286500 -0.960769  0.960769 -0.791212 -0.685994   1.545908
199 -0.261469 -0.657170  1.040833 -1.040833 -0.791212  1.457738  -0.646869

     Cholesterol_HIGH   Cholesterol_NORMAL
0             0.970437           -0.970437
1             0.970437           -0.970437
2             0.970437           -0.970437
3             0.970437           -0.970437
4             0.970437           -0.970437
..                 ...                 ...
195           0.970437           -0.970437
196           0.970437           -0.970437
197           0.970437           -0.970437
198          -1.030464            1.030464
199          -1.030464            1.030464

[200 rows x 9 columns]

# Task 2: Build the ANN model with (input layer, min 3 hidden layers & output layer

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

# Build the ANN model
model = Sequential()

# Add input layer
model.add(Dense(units=64, activation='relu', input_dim=X_train.shape[1]))

# Add hidden layers
model.add(Dense(units=32, activation='relu'))
model.add(Dense(units=16, activation='relu'))
model.add(Dense(units=8, activation='relu'))

# Add output layer
model.add(Dense(units=len(label_encoder.classes_), activation='softmax'))

# Task 3 : Test the model with random data

In [ ]:
import numpy as np

# Generate random data
random_data = np.random.rand(1, X_train.shape[1])

# Make predictions
predicted_class = np.argmax(model.predict(random_data))
predicted_drug = label_encoder.inverse_transform([predicted_class])[0]

print("Random Data:", random_data)
print("Predicted Drug:", predicted_drug)

1/1 [==============================] - 0s 59ms/step
Random Data: [[0.45401706 0.99966265 0.59590274 0.33774998 0.67395311 0.62675388
  0.06122523 0.42958459 0.26928388]]
Predicted Drug: drugX